{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'global/images/icons/n3xt-favicon.ico'%}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'global/css/main.css'%}">
    <title>{% block title %}N3XT Slicer{% endblock title%}</title>
</head>

<body>
    <div class="page__inner">
        {% include 'global/includes/header.html' %}

        {% block content %}
        <!-- load from views -->
        {% endblock content %}

        {% include 'global/includes/footer.html' %}
    </div>

</body>

<script src="{% static 'global/js/header.js'%}"></script>

</html>