{% load static %}

<header class="header">
    <div class="header__content-wrapper">
        <div class="header__inner">
            <a class="header__logo" href="/">N<span>3</span>XT</a>
            <nav class="header__nav" id="headerNav">
                <ul class="header__menu">
                    <li class="header__menu-title">Menu</li>
                    <li class="header__menu-item"><a href="/resources/blog">Blog</a></li>
                    <li class="header__menu-item"><a href="/accounts/">Account</a></li>
                </ul>
                <a href="#" class="thm-btn header__cta--mobile">
                    Open Slicer
                </a>
            </nav>
            <div class="header__right">
                <a href="#" class="thm-btn header__cta">
                    Open Slicer
                </a>
                <button class="header__hamburger-button" id="hamburgerButton">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </div>
    <div class="header__search-bar" id="searchBar">
        <div class="header__search-bar-inner">
            <input type="text" placeholder="Search..." id="searchInput">
        </div>
    </div>
</header>