{% extends 'global/layout.html' %}
{% load static %}

{% block title %}Blog{% endblock title%}

{% block content %}

    <main class="main blog">

        <h1>Blog</h1>
        <br>

        {% if user.is_staff %}
            <a class="thm-btn" href="/resources/upload">Upload article</a>
            <br>
        {% endif %}

        {% for post in posts %}
            <h2><a href="/resources/blog/{{ post.slug }}">{{ post.title }}</a></h2>
            <p>{{ post.date }}</p>
            
        {% endfor %}
    </main>

{% endblock content %}